<launch>
    <arg name="gui" default="false"/>
    <arg name="image_topic" default="test_image"/>
    <arg name="objects_path" default="$(find solution_2)/object_detection/objects_2"/>
    <arg name="settings_path" default="$(find solution_2)/object_detection/settings.ini"/>

	<!-- Nodes -->
	<node name="find_object_2d" pkg="find_object_2d" type="find_object_2d" output="screen">
		<remap from="image" to="$(arg image_topic)"/>
		<param name="gui" value="$(arg gui)" type="bool"/>
		<param name="objects_path" value="$(arg objects_path)" type="str"/>
		<param name="settings_path" value="$(arg settings_path)" type="str"/>
	</node>
</launch>
