<launch>
    <!-- Running the gazebo simulation -->
    <include file="$(find tb_gazebo)/launch/turtletown.launch" />

    <!-- Running the lasers -->
    <!-- pointcloud_to_laserscan -->
    <include file="$(find solution_1)/launch/kinect_scan.launch" />
    <!-- ira_laser_tools -->
    <include file="$(find solution_1)/launch/laserscans_merge.launch" />

    <!-- Running the gmapping -->
    <include file="$(find solution_1)/launch/gmapping.launch" />

    <!-- Running move_base -->
    <!-- <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/> -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find solution_1)/navigation_parameters/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find solution_1)/navigation_parameters/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find solution_1)/navigation_parameters/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find solution_1)/navigation_parameters/global_costmap_params.yaml" command="load" />

        <rosparam file="$(find solution_1)/navigation_parameters/base_local_planner_params.yaml" command="load" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="10.0" />

        <remap from="/cmd_vel" to="/mobile_base/commands/velocity" />
    </node>
</launch>
