<launch>

    <arg name="initial_pose_x" default="1.8"/>
    <arg name="initial_pose_y" default="5.0"/>
    <arg name="initial_pose_yaw" default="0.0"/>

    <!-- Running the base -->
    <include file="$(find tb)/launch/tb.launch" />

    <!-- Running the map_server for amcl -->
    <node name="map_server_amcl" pkg="map_server" type="map_server" args="$(find solution_2)/maps/map1_r.yaml" output="screen">
        <remap from="/map" to="/maps/map_amcl" />
    </node>

    <!-- Running the map_server for move_base -->
    <node name="map_server_mb" pkg="map_server" type="map_server" args="$(find solution_2)/maps/map1_markup_all.yaml" output="screen">
        <remap from="/map" to="/maps/map_mb" />
    </node>

    <!-- Running the merger -->
    <node name="Merger" pkg="solution_2" type="merge_grids.py" output="screen">
        <remap from="/merger/source_map_1" to="/maps/map_mb" />
        <remap from="/merger/source_map_2" to="/maps/crossroads" />
        <remap from="/merger/target_map" to="/maps/map_merged" />

        <param name="merger/source_map_1/updating" value="False" />
        <param name="merger/source_map_2/updating" value="True" />
    </node>

    <!-- Running AMCL -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find solution_2)/params_urpylka/amcl.yaml" command="load" />

        <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
        <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
        <param name="initial_pose_yaw" value="$(arg initial_pose_yaw)"/>

        <remap from="/map" to="/maps/map_amcl" />
    </node>

    <!-- Running move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find solution_2)/params_urpylka/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find solution_2)/params_urpylka/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find solution_2)/params_urpylka/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find solution_2)/params_urpylka/global_costmap_params.yaml" command="load" />
        <!-- <rosparam file="$(find solution_2)/params_urpylka/teb_local_planner_params.yaml" command="load" /> -->

        <!-- <rosparam file="$(find solution_1)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find solution_1)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find solution_1)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find solution_1)/params/global_costmap_params.yaml" command="load" /> -->

        <rosparam file="$(find solution_1)/params/base_local_planner_params.yaml" command="load" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="10.0" />

        <remap from="/cmd_vel" to="/mobile_base/commands/velocity" />

        <remap from="/map" to="/maps/map_merged" />
    </node>
</launch>