<launch>
    <!-- <node pkg="libuvc_camera" type="camera_node" respawn="true" name="logitech_camera" output="screen"/> -->

    <node pkg="solution_2" type="test_image_publisher.py" respawn="true" name="test_image_publisher" output="screen"/>

    <include file="$(find solution_2)/launch/test_find_object_2d.launch" />

    <node pkg="solution_3" type="detect_objects_node.py" name="detect_objects_node" output="screen">
        <rosparam file="$(find solution_3)/launch/detect_objects.yaml" command="load"/>
    </node>

</launch>