<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find tb_gazebo_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find tb_gazebo_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find tb_gazebo_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find tb_gazebo_description)/urdf/sensors/kinect.urdf.xacro"/>
  <xacro:include filename="$(find tb_gazebo_description)/urdf/sensors/hokuyo_utm30lx.urdf.xacro"/>

  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>
  <hokuyo_utm30lx name="hokuyo_laser" parent="base_link" ros_topic="/hokuyo_laser" update_rate="30" ray_count="720" min_angle="0" max_angle="360">
    <origin xyz="0 0 +0.10" rpy="0 0 0" />
  </hokuyo_utm30lx>
</robot>
