SUBSYSTEMS=="usb", ATTRS{idProduct}=="0401", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astra" 
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0402", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astra_s"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0403", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astra_pro"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0404", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astra_mini"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0407", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astra_mini_s"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0501", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0502", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0504", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0505", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0508", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0509", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="050a", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="050b", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="050c", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="050d", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="050e", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="050f", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0510", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0511", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0512", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0513", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0514", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0515", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0516", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0517", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0518", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0519", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="051a", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="051b", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="051c", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="051d", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="051e", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="051f", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0520", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0604", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0605", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="super"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0606", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="luna"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0607", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="ado"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0608", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astra d-u"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0609", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="p2"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="060a", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="alien"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="060b", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="deeyea"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="060c", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astrauvc"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="060d", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astra pro plus"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="060e", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="060f", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0610", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0611", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0612", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0613", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0614", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0615", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0616", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0617", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0618", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0619", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="061a", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="061b", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="061c", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="061d", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="061e", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="061f", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0620", ATTRS{idVendor}=="2bc5", MODE:="0666", OWNER:="root", GROUP:="video", SYMLINK+="astradepth"